# MLFLOW
MLFLOW_TRACKING_URI=http://127.0.0.1:5000 # isi URI tempat server mlflow

# Kedua ID ini didapatkan setelah running train.py
MLFLOW_RUN_ID_MODEL= # Ambil run id model setelah running experiment (final model)
MLFLOW_RUN_ID_METRIC= # Ambil run id metrics setelah running experiment (evaluate)
MLFLOW_MODEL_NAME=xgboost_final_model # Nama final Model (bebas)

# MONGODB
MONGO_URI=mongodb://admin:password123@mongo:27017/ # isi mongo URI dengan username dan password
MONGO_DB_NAME=jakarta_properties # Nama DB (bebas)
MONGO_COLLECTION_NAME=propertidocker-compose.yml # Nama collection (bebas juga)

API_URL="http://localhost:8000"