# Full local development install (semua service)
# Untuk install per service, gunakan file di masing-masing folder:
#   pip install -r app/requirements_app.txt
#   pip install -r ml/requirements_ml.txt
#   pip install -r ui/requirements_ui.txt

#-r app/requirements_app.txt
#-r ml/requirements_ml.txt
-r ui/requirements_ui.txt

# Testing
pytest==9.1.1
